@import "tailwindcss";


* {
    font-family: "Anton", sans-serif !important;
    font-weight: bolder;
    scroll-behavior: smooth;
  }
   
  body{
    background: #1A242E;
    scroll-behavior: smooth;
  }